@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pokeballred: #ee1515;
  --color-pokeballblack: #222224;
  --color-pokeballwhite: #f0f0f0;

  --color-pokemonblue: #2a75bb;
  --color-pokemonyellow: #ffcb05;

  --color-foreground: var(--color-pokeballblack);
  --color-background: var(--color-pokeballwhite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-pokeballblack);
    --color-foreground: var(--color-pokeballwhite);
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

@layer base {
  a {
    @apply underline;
    @apply underline-offset-2;
  }
}
