@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pokeballred: #ee1515;
  --color-pokeballblack: #222224;
  --color-pokeballwhite: #f0f0f0;

  --color-pokemonblue: #2a75bb;
  --color-pokemonyellow: #ffcb05;

  --color-foreground: var(--color-pokeballblack);
  --color-background: var(--color-pokeballwhite);
  --color-primary: var(--color-pokemonblue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-pokeballblack);
    --color-foreground: var(--color-pokeballwhite);
    --color-primary: var(--color-pokemonyellow);
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

html,
body {
  height: 100%;
}

@layer utilities {
  /* https://github.com/tailwindlabs/tailwindcss/discussions/4515#discussioncomment-2112460 */
  .min-safe-h-screen {
    min-height: calc(
      100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
    );
  }

  @supports (-webkit-touch-callout: none) {
    .min-safe-h-screen {
      min-height: -webkit-fill-available;
    }
  }

  .button {
    @apply rounded-full;

    @apply px-4;
    @apply py-2;

    @apply bg-primary;
    @apply text-background;
  }

  .input {
    @apply border-2;
    @apply border-foreground;
    @apply rounded-full;

    @apply px-4;
    @apply py-2;

    @apply appearance-none;
    @apply text-foreground;
    @apply bg-background;

    &:focus {
      @apply outline-none;
      @apply border-primary;
    }
  }

  .link {
    @apply underline;
    @apply underline-offset-2;
  }

  .heading-1 {
    @apply text-xl;
    @apply font-bold;
    @apply my-2;
  }
}
